body {background-color: rgb(228, 198, 173);
}
h1 {color: chocolate;
}
h1 {font-size: 400%;
}
h1 {text-align: center;
}
#img {width: 34%;
}
#img {margin-left: 34%;
}
h2 {text-align: center;
}
h2 {font-size: 300%;
}
h2 {color: sienna;
}
h3 {color: saddlebrown;
}
h3 {font-size: 200%
}
h3 {text-align: center;
}
h3 {border:solid 3px brown
}
#imgg {width: 24%;
}
#imgg {margin-left: 28%;
}
#img {border:solid 3px brown
}
#imgg {border:solid 3px brown
}
h4 {color: saddlebrown;
}
h4 {text-align: center;
}
h4 {font-size: 200%;
}
h4 {border: solid 3px brown;
}
#imggg {width: 24%;
}
#imggg {margin-left: 29%;
}
#imggg {border: solid 3px brown
}
h5 {color: saddlebrown;
}
h5 {text-align: center;
}
h5 {font-size: 200%;
}
h5 {border: solid 3px brown;
}
#im4g {width: 21%;
}
#im4g {margin-left: 27%;
}
#im4g {border:solid 3px brown
}
h6 {text-align: center;
}
h6 {font-size: 300%;
}
h6 {color: rgb(73, 33, 5);
}
h1 {border: solid 3px brown;
}